**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
**/dist/
**/coverage/
**/*.user
**/*.suo
**/*.swp
**/*.tmp
**/TestResults/
.git
.gitignore
Dockerfile*
docker-compose*
README.md
.env
.env.*